@page "/Categories"
@inject NavigationManager Navigation
@inject ICategoryIntegration Integration
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@using InventoryClient.Integrations.Interfaces

<PageTitle>Categories</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Typo="Typo.h4" GutterBottom="true">Categories</MudText>
    <MudGrid Spacing="12" Class="mt-4">
        <MudItem xs="10">
            <MudGrid>
                <MudItem xs="12">
                    <MudDataGrid @ref="@_grid" Items="@Categories">
                        <ToolBarContent>
                            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Add" Color="Color.Primary" Class="ml-auto mb-5"  OnClick="OnAdd">Add Category</MudButton>
                            <MudSpacer />
                            <MudTextField T="string" @bind-Value="_searchText" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                        </ToolBarContent>
                        <Columns>
                            <PropertyColumn Property="x => x.Name" Title="Name" Filterable="true"/>
                            <PropertyColumn Property="x => x.Description" Title="Description"/>
                            <TemplateColumn CellClass="d-flex justify-end">
                                <CellTemplate>
                                    <MudIconButton Size="@Size.Small" Class="mr-3" Icon="@Icons.Material.Outlined.Visibility" OnClick="() => OnView(context.Item.Id)"/>
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="() => OnEdit(context.Item.Id)"/>
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="(async () => await OnDeleteAsync(context.Item.Id))"/>
                                </CellTemplate>
                            </TemplateColumn>
                        </Columns>
                        <PagerContent>
                            <div class="d-flex flex-column align-center">
                                <MudPagination Color="Color.Primary" Count="@((_grid.GetFilteredItemsCount() + _grid.RowsPerPage - 1) / _grid.RowsPerPage)" @bind-Selected="@_selectedPage"/>
                            </div>
                        </PagerContent>
                    </MudDataGrid>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
    <MudOverlay Visible="_isLoading" DarkBackground="false" Absolute="true">
        <MudProgressCircular Color="Color.Info" Indeterminate="true" />
    </MudOverlay>
    </MudContainer>