@page "/Items"
@using InventoryClient.Integrations.Interfaces
@using InventoryClient.Components.Dropdowns
@inject NavigationManager Navigation
@inject IItemIntegration Integration
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<PageTitle>Items</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudText Typo="Typo.h4" GutterBottom="true">Inventory Items</MudText>
    <MudGrid Spacing="5" Class="mt-4" >
        <MudItem xs="10">
            <MudItem xs="6">
                <ProductDropdown Disabled="false" Search="true" SelectedIndex="@_selectedProduct"
                                 OnProductChanged="OnProductChange" />
            </MudItem>
            <MudItem xs="12" Class="mt-5">
                <MudGrid >
                    <MudDataGrid Items="@Items">
                        <ToolBarContent>
                            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Add" Color="Color.Primary"
                                       Class="mb-5 ml-auto" OnClick="OnAdd">Add Item</MudButton>
                            <MudSpacer />
                            <MudTextField @bind-Value="_searchText" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                        </ToolBarContent>
                        <Columns>
                            <PropertyColumn Property="x => x.SerialNumber" Title="Serial Number" Filterable="true"/>
                            <PropertyColumn Property="x => x.TagId" Title="Tag Id" Filterable="true"/>
                            <PropertyColumn Property="x => x.Name" Title="Description" Filterable="true"/>
                            <PropertyColumn Property="x => x.Description" Title="Description"/>
                            <PropertyColumn Property="x => x.Price" Format="C2" Title="Price"/>
                            <TemplateColumn Title="Availability">
                                <CellTemplate>
                                    @if (context.Item.IsCheckedOut)
                                    {
                                        <MudButton Variant="Variant.Text" Color="Color.Secondary"
                                                   OnClick="() => OnEdit(context.Item.Id)">Check In</MudButton>

                                    }
                                    else
                                    {
                                        <MudButton Variant="Variant.Text" Color="Color.Tertiary"
                                                   OnClick="() => OnEdit(context.Item.Id)">Check Out</MudButton>
                                    }
                                </CellTemplate>
                            </TemplateColumn>
                            <PropertyColumn Property="x => x.ExpectedReturnDate"  Title="Expected Return Date"/>
                            <TemplateColumn CellClass="d-flex justify-end">
                                <CellTemplate>
                                    <MudIconButton Size="@Size.Small" Class="mr-3"
                                                   Icon="@Icons.Material.Outlined.Visibility"
                                                   OnClick="() => OnView(context.Item.Id)"/>
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit"
                                                   OnClick="() => OnEdit(context.Item.Id)"/>
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete"
                                                   OnClick="(async () => await OnDeleteAsync(context.Item.Id))"/>
                                </CellTemplate>
                            </TemplateColumn>
                        </Columns>
                        <PagerContent>
                            <div class="d-flex flex-column align-center">
                            <MudPagination Color="Color.Primary" Count="4" @bind-Selected="@_selected"/>
                            </div>
                        </PagerContent>
                    </MudDataGrid>
                </MudGrid>
            </MudItem>
        </MudItem>
    </MudGrid>
    <MudOverlay Visible="_isLoading" DarkBackground="false" Absolute="true">
        <MudProgressCircular Color="Color.Info" Indeterminate="true" />
    </MudOverlay>
</MudContainer>